

.legumes {
  background: black url(icons/vegetable.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.viande {
  background: black url(icons/meat.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.soupe {
  background: black url(icons/soup.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}